[submodule "AndEngine"]
	path = AndEngine
	url = https://github.com/nicolasgramlich/AndEngine.git
	ignore = dirty
[submodule "AndEnginePhysicsBox2DExtension"]
	path = AndEnginePhysicsBox2DExtension
	url = https://github.com/nicolasgramlich/AndEnginePhysicsBox2DExtension
